%tr{:class => cycle("odd", "even")}
  %td
    = DateTime.new(year,month,1).strftime('%B').upcase
  %td
    = link_to(number_to_currency(retail), ledger_publish_publisher_sales_path(current_publisher, :type => 'retail_sales', :year => year, :month => month)) unless retail == 0
  %td
    = number_to_currency(0)
  %td
    = link_to(number_to_currency(whole), ledger_publish_publisher_sales_path(current_publisher, :type => 'whole_sales', :year => year, :month => month)) unless whole == 0
  %td
    = link_to(number_to_currency(getstock), ledger_publish_publisher_sales_path(current_publisher, :type => 'get_stocks', :year => year, :month => month)) unless getstock == 0
  %td
    = number_to_currency(subtotal) unless subtotal == 0
  %td
    = number_to_currency(payment) unless payment == 0
