- content_for :main_navigation do
  %li= link_to 'Dashboard', publisher_root_path
  %li= link_to 'Catalogs', publish_publisher_catalogs_path(current_publisher)
  %li= link_to 'Products', publish_publisher_products_path(current_publisher)
  %li.active= link_to 'Sales', publish_publisher_sales_path(current_publisher)
  %li= link_to 'Payments', publish_publisher_publisher_payments_path(current_publisher)

.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "All Sales Reports", publish_publisher_sales_path(current_publisher)
  .content
    %h2.title Year 2010
    - total = 0
    - subtotal = []
    .inner
      %table.table
        %tr
          %th Month
          %th Retail Sales
          %th Royalty Sales
          %th Wholesale Sales
          %th Get Stock Purchases
          %th Totals
          %th PPS Payments
        - grand_total, retail_total, whole_total = 0, 0, 0
        - (1..12).each do |m|
          - date   = Date.new(2010, m, 1)
          - start, finish = date.beginning_of_month, date.end_of_month
          -# the tamale
          - retail   = @retail_sales.find(:all, :conditions => { :created_at => start..finish }).inject(0) { |sum,i| sum + i.total } 
          - whole    = @whole_sales.find(:all, :conditions => { :created_at => start..finish }).inject(0) { |sum,i| sum + i.total } 
          - subtotal = retail + whole
          - retail_total += retail
          - whole_total  += whole
          %tr
            %td= date.strftime('%B').upcase
            %td{:align => :right}
              = link_to(number_to_currency(retail), ledger_publish_publisher_sales_path(current_publisher, :type => 'retail_sales', :month => date.month)) unless retail == 0
            %td{:align => :right}= number_to_currency(0)
            %td{:align => :right}
              = link_to(number_to_currency(whole), ledger_publish_publisher_sales_path(current_publisher, :type => 'whole_sales', :month => date.month)) unless whole == 0
            %td{:align => :right}= number_to_currency(0)
            %td{:align => :right}
              = number_to_currency(subtotal) unless subtotal == 0
            %td{:align => :right}= number_to_currency(0)
            - grand_total += subtotal
        %tr
          %td
            %strong TOTALS
          %td{:align => :right}
            %strong= number_to_currency(retail_total)
          %td{:align => :right}
            %strong= number_to_currency(0)
          %td{:align => :right}
            %strong= number_to_currency(whole_total)
          %td{:align => :right}
            %strong= number_to_currency(0)
          %td{:align => :right}
            %strong= number_to_currency(grand_total)
          %td{:align => :right}
            %strong= number_to_currency(0)

- content_for :sidebar, render(:partial => 'publish/shared/sidebar')

