- content_for :main_navigation do
  %li= link_to 'Dashboard', publisher_root_path
  %li= link_to 'Catalogs', publish_publisher_catalogs_path(current_publisher)
  %li= link_to 'Products', publish_publisher_products_path(current_publisher)
  %li.active= link_to 'Sales', publish_publisher_sales_path(current_publisher)
  %li= link_to 'Payments', publish_publisher_publisher_payments_path(current_publisher)

.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "All Sales Reports", publish_publisher_sales_path(current_publisher)
  .content
    %h2.title Sales Reports
    - total = 0
    - subtotal = []
    .inner
      %table.table
        %tr
          %th.first
          %th Date
          %th Transaction
          %th Type
          %th Qty.
          %th Sale Price
          - for fee in Fee.all 
            %th= fee.description
          %th Earnings
          %th.last
        - @sales.each do |sale|
          %tr{:class => cycle("odd", "even")}
            %td
            %td= sale.created_at.to_date.to_s(:short)
            %td= sale.id
            %td= sale.sale_type
            %td= sale.quantity
            %td= number_to_currency(sale.total)
            - for fee in Fee.all
              %td
                = fee.percentage ? "#{fee.amount}%" : number_to_currency(fee.amount)
                (*)
            %td{:align => :right}
              - subtotal << sale.total - sale.fees
              %strong= number_to_currency(subtotal.last)
            %td
              = link_to "Show", publish_publisher_sale_path(current_publisher,sale)
            %td
              - total += subtotal.last
        %tr
          %td{:colspan => 8, :align => :right}
            %strong TOTAL
          %td{:align => :right}
            %strong= number_to_currency(total)
          %td
      %br (*) Applies to each product sold

      %p= Gchart.bar(:size => '650x360', :title => 'Retail Sales', :theme => :pastel, :max_value => false, :stacked => false, :data => subtotal, :axis_with_labels => 'x', :format => 'image_tag')

- content_for :sidebar, render(:partial => 'publish/shared/sidebar')

