- content_for :main_navigation do
  %li= link_to 'Dashboard', publisher_root_path
  %li= link_to 'Catalogs', publish_publisher_catalogs_path(current_publisher)
  %li= link_to 'Products', publish_publisher_products_path(current_publisher)
  %li.active= link_to 'Sales', publish_publisher_sales_path(current_publisher)
  %li= link_to 'Payments', publish_publisher_publisher_payments_path(current_publisher)

.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "All Sales Reports", publish_publisher_sales_path(current_publisher)
  .content
    %h2.title Sales Reports
    - total = 0
    - subtotal = []
    .inner
      %table.table
        %tr
          %th.first
          %th Date
          %th Transaction
          %th Type
          %th Qty.
          %th Sale Price
          - for fee in Fee.all 
            %th= fee.description
          %th Earnings
          %th.last
        - @sales.each do |month,sales|
          %tr
            %td{:colspan => 10}
              = month.strftime('%B').upcase
          - for sale in sales
            %tr
              %td
              %td= sale.created_at.to_date.to_s(:short)
              %td= sale.id
              %td= sale.type
              %td= sale.quantity
              %td= number_to_currency(sale.total)
              - for fee in Fee.all
                %td= number_to_currency(sale.collect_fees_for(fee))
              %td{:align => :right}
                - subtotal << sale.total - sale.fees
                %strong= number_to_currency(subtotal.last)
              %td
                = link_to "Show", publish_publisher_sale_path(current_publisher,sale)
              %td
              - total += subtotal.last
        %tr
          %td{:colspan => 8, :align => :right}
            %strong TOTAL
          %td{:align => :right}
            %strong= number_to_currency(total)
          %td
      %br (*) Fees apply to each product sold

      - retail_sales = current_publisher.retail_sales.map { |s| s.total }
      - whole_sales  = current_publisher.whole_sales.map { |s| s.total }
      %p
        = Gchart.bar(:size => '300x360', :title => 'Retail Sales', :theme => :pastel, :stacked => false, :data => retail_sales, :axis_with_labels => 'x', :format => 'image_tag')
        = Gchart.bar(:size => '300x360', :title => 'Wholesale Sales', :theme => :thirty7signals, :stacked => false, :data => whole_sales, :axis_with_labels => 'x', :format => 'image_tag')

- content_for :sidebar, render(:partial => 'publish/shared/sidebar')

