- content_for :primary_nav do
  = render :partial => 'publish/shared/navbar'

#content.wide
  %h1 All Years
  .box
    %table.t1
      %thead
        %tr
          %th Year
          %th Retail Sales
          %th Royalty Sales
          %th Wholesale Sales
          %th Get Stock Purchases
          %th Totals
          %th PPS Payments
          - whole_total    = 0
          - retail_total   = 0
          - getstock_total = 0
          - grand_total    = 0
      %tbody
        - @years.each do |year|
          - datum  = Date.new(year, 1, 1)
          - start  = datum.beginning_of_year
          - finish = datum.end_of_year
          -# the tamale
          - whole    = @whole_sales.find(:all, :conditions => { :created_at => start..finish }).inject(0) { |sum,i| sum + i.total } 
          - retail   = @retail_sales.find(:all, :conditions => { :created_at => start..finish }).inject(0) { |sum,i| sum + i.total } 
          - getstock = @get_stocks.find(:all, :conditions => { :created_at => start..finish }).inject(0) { |sum,i| sum + i.total } 
          - subtotal = whole + retail + getstock
          - whole_total    += whole
          - retail_total   += retail
          - getstock_total += getstock
          %tr{:class => cycle("odd", "even")}
            %td
              = link_to_unless(subtotal == 0, year, publish_publisher_sales_path(current_publisher, :year => year))
            %td{:align => :right}
              = number_to_currency(retail) unless retail == 0
            %td{:align => :right}
              = number_to_currency(0)
            %td{:align => :right}
              = number_to_currency(whole) unless whole == 0
            %td{:align => :right}
              = number_to_currency(getstock) unless getstock == 0
            %td{:align => :right}
              = number_to_currency(subtotal) unless subtotal == 0
            %td{:align => :right}
              = number_to_currency(0)
            - grand_total += subtotal
        %tr
          %td
            %strong TOTALS
          %td{:align => :right}
            %strong= number_to_currency(retail_total)
          %td{:align => :right}
            %strong= number_to_currency(0)
          %td{:align => :right}
            %strong= number_to_currency(whole_total)
          %td{:align => :right}
            %strong= number_to_currency(getstock_total)
          %td{:align => :right}
            %strong= number_to_currency(grand_total)
          %td{:align => :right}
            %strong= number_to_currency(0)

