%ul.primary-nav
  %li
    = link_to 'Catalogs', retail_catalogs_path, :class => controller.controller_name == 'catalogs' ? 'current' : ''
  %li
    = link_to 'Publishers', retail_publishers_path, :class => controller.controller_name == 'publishers' ? 'current' : ''
  - if customer_signed_in?
    %li.cart= link_to "Cart (#{items_total_count})", retail_customer_cart_path(current_customer)

- form_tag "/search", :method => :get, :id => 'search-form' do
  %label.fade{:for => 'id'} Search product...
  = text_field_tag :id, "", :size => '20', :class => 'txt'
  %input.bt-search{:alt => 'Go', :src => '/stylesheets/button_search.png', :title => 'Buscar', :type => 'image', :value => 'Buscar'}/

