- content_for :primary_nav do
  =render :partial => 'admin/shared/navbar'

#content.wide
  %h1= "Payment #{@payment.id}"
  .box
    %h2 Sales paid with this transaction
    %table.t1
      %tr
        %th.first.w5{:scope => 'col'} ID
        %th Date
        %th Publisher
        %th Amount
        %th Fees
      - @payment.sales.each do |sale|
        %tr{:class => cycle("odd", "even")}
          %td= sale.id
          %td= sale.created_at
          %td= sale.publisher.full_name
          %td= number_to_currency sale.total
          %td= number_to_currency sale.fees
