- @item = current_customer.cart.items.build
- form_for @item, :url => retail_customer_cart_cart_items_path(current_customer), :class => 'form' do |item|
  = item.hidden_field :catalog_id, :value => catalog.id
  = item.hidden_field :product_id, :value => product.id
  = item.hidden_field :cart_id,    :value => current_customer.cart.id
  = item.hidden_field :price,      :value => product.price
  
  %label{:for => 'quantity'}
    %span Quantity:
    = item.text_field :quantity, :value => '1', :id => 'qty'
  %label{:for => 'packaging_option_id'}
    %span Packaging:
    = item.select :packaging_option_id, options_from_collection_for_select(product.available_packaging_options, :id, :title_with_price), :id => 'packg'
  %button.b2{:type => 'submit'} Add to Cart

