- content_for :primary_nav do
  = render :partial => 'admin/shared/navbar'

#content.wide
  %h1 Flagged Products
  .box
    %table.t1
      %tr
        %th Title
        %th.w10 Count
        %th.w10 &nbsp;
      - @products.each do |product|
        %tr{:class => cycle("odd", "even")}
          %td= link_to product.title, retail_catalog_product_path(product.catalogs.first, product)
          %td= product.flag_count
          %td
            = link_to "Unflag", admin_flagged_product_path(product), :method => :delete, :confirm => "Are you sure?"
            - if product.available?
              - if product.available_for_retail_listing?
                = link_to "Delete", disable_admin_product_path(product), :method => :post, :confirm => "Are you sure?"
              - else
                = product.available_for_retail_listing
            - else
              = link_to "Enable", enable_admin_product_path(product), :method => :post, :confirm => "Are you sure?"
  .box
    = will_paginate @products
