- content_for :primary_nav do
  = render :partial => 'publish/shared/navbar'

.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "Resend confirmation instructions", new_publisher_confirmation_path
  .content
    %h2.title Resend Publisher confirmation instructions
    .inner
      - form_for resource_name, resource, :url => confirmation_path(resource_name), :html => { :class => :form } do |f|
        = f.error_messages

        .group
          %p= f.label :email, 'E-mail', :class => :label
          %p= f.text_field :email, :class => 'text_field'

        .group.navform.wat-cf
          %button.button{:type => 'submit'}
            = image_tag("web-app-theme/tick.png", :alt => "Send me reset password instructions")
            Resend confirmation instructions

- content_for :sidebar, render(:partial => "shared/devise_publisher_links")

