= f.hidden_field :publisher_id

.group
  = f.label :title, "Title", :class => :label
  = f.text_field :title, :class => 'text_field'

.group
  = f.label :product_type, "Product Type", :class => :label
  = f.text_field :product_type, :class => 'text_field'
  <span class="description">Ex: a simple text</span>

.group
  = f.label :studio, "Studio", :class => :label
  = f.text_field :studio, :class => 'text_field'

.group
  = f.label :description, "Description", :class => :label
  = f.text_area :description, :class => 'text_area'
  <span class="description">Ex: a simple text</span>

.group
  = f.label :price, "Price", :class => :label
  = f.text_field :price, :class => 'text_field'

.group
  = f.label :running_time, "Running Time", :class => :label
  = f.text_field :running_time, :class => 'text_field'

.group
  = f.label :wholesale_price, 'New Wholesale Price', :class => :label
  - f.fields_for :wholesale_prices, @product.wholesale_prices.build do |wholesale_price|
    Minimum Quantity
    = wholesale_price.text_field :minimum_quantity, :size => '10', :class => 'text_field_small'
    &nbsp;
    Discount
    = wholesale_price.text_field :discount_percentage, :size => '5', :class => 'text_field_small'
    #{"%"}

.group.navform.wat-cf
  %button.button{:type => 'submit'}
    = image_tag("web-app-theme/tick.png", :alt => "Save")
    = t("web-app-theme.save", :default => "Save")
  = link_to "#{image_tag("web-app-theme/cross.png", :alt => "Cancel")} Cancel", publish_publisher_products_path(@publisher), :class => "button"

