- content_for :header do
  = javascript_include_tag 'jquery.Jcrop.min'
  = javascript_include_tag 'fbox/jquery.fancybox-1.3.4.pack'
  = javascript_include_tag 'fbox/jquery.easing-1.3.pack'
  = javascript_include_tag 'fbox/jquery.mousewheel-1.3.0.4.pack'
  = stylesheet_link_tag 'jquery.Jcrop', 'fbox/jquery.fancybox.css'
  :css
    /*
     * SimpleModal Basic Modal Dialog
     * http://www.ericmmartin.com/projects/simplemodal/
     * http://code.google.com/p/simplemodal/
     *
     * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
     *
     * Licensed under the MIT license:
     *   http://www.opensource.org/licenses/mit-license.php
     *
     * Revision: $Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $
     */

    #basic-modal-content {display:none;}
    #sample-modal-content {display:none;}
    #simplemodal-overlay {background-color:#000;}
    #simplemodal-container {width:780px; height:580px; color:#bbb; background-color:#ededed; border:10px solid #fff; padding:12px;}
    #simplemodal-container .simplemodal-data {padding:8px;}
    #simplemodal-container a.modalCloseImg {background:url(/images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}

  :javascript
    $(function() {
      $('a.sleeve').fancybox({
        autoDimensions: true,
        overlayColor: '#000',
        type: 'ajax',
        onComplete: function () { createJcrop('sleeve') },
        onClosed: function() { }
      });

      $('a.disc-cover').fancybox({
        autoDimensions: true,
        overlayColor: '#000',
        type: 'ajax',
        onComplete: function () { createJcrop('disc-cover') },
        onClosed: function() { }
      });


      $("#product_media_type_id").change(function() {
        $("#genres_select").load("/publish/genres?media_type_id="+$(this).val());
        return false;
      });

      function createJcrop(img) {
        var back = $('#' + img + '-back');
        var cropbox = $('#' + img + '-cropbox');
        var preview = $('#' + img + '-preview');

        function callback(coords) {
          var rx = back.width() / coords.w;
          var ry = back.height() / coords.h;

          preview.css({
            width: Math.round(rx * cropbox.width()) + 'px',
            height: Math.round(ry * cropbox.height()) + 'px',
            marginLeft: '-' + Math.round(rx * coords.x) + 'px',
            marginTop: '-' + Math.round(ry * coords.y) + 'px'
          });

          $('#' + img + '-crop-x').val(coords.x);
          $('#' + img + '-crop-y').val(coords.y);
          $('#' + img + '-crop-w').val(coords.w);
          $('#' + img + '-crop-h').val(coords.h);
        };
          

        cropbox.Jcrop({
          onSelect: callback,
          onChange: callback,
          setSelect: [ 0, 0, 100, 100 ],
          aspectRatio: back.width() / back.height()
        });
      };

      $('#basic-modal .front').click(function (e) {
        $('#front-modal-content').modal();
        createJcrop('cd-sleeve');
        return false;
      });

      $('#basic-modal .back').click(function (e) {
        $('#back-modal-content').modal();
        return false;
      });

      $('#basic-modal .label').click(function (e) {
        $('#label-modal-content').modal();
        return false;
      });

      $('ul.tabs li')


      $('.tab_content').hide();
      $('ul.tabs li:first').addClass('active').show();
      $('.tab_content:first').show();

      $('ul.tabs li').click(function() {
        $('ul.tabs li').removeClass('active');
        $(this).addClass('active');
        $('.tab_content').hide();
        var activeTab = $(this).find('a').attr('href');
        $(activeTab).fadeIn();
        return false;
      });

    });


.group
  = f.error_messages


.col.x6
  %label.spc1{:for => 'title'}
    %span Title:
    = f.text_field :title, :size => 33
  %label.spc1{:for => 'price'}
    %span Price:
    = f.text_field :price, :size => 6
  %label{:for => 'media_type_id'}
    %span Media:
    = f.collection_select :media_type_id, MediaType.all, :id, :name
  %label{:for => 'genre_id'}
    %span Genre:
    - if @genres
      #genres_select= f.collection_select :genre_id, @genres, :id, :title
    - else
      %select#product_genre_id{:name => 'product_genre_id'}
    = f.hidden_field :description, :cols => 80, :rows => 9, :value => 'default'
  %label{:for => 'studio'}
    %span Studio:
    = f.text_field :studio, :size => 45
  %label{:for => 'performers'}
    %span Actors/Performers:
    = f.text_field :performers, :size => 45
  %label{:for => 'keyword_list'}
    %span Tags:
    = f.text_field :keyword_list, :size => 45
  %h2 Catalogs
  %label{:for => 'catalogs'}
    %span
  %label{:for => 'newcatalog'}
    %span Add new catalog:
    %input#newcatalog{:name => 'newcatalog', :size => 45}

.col.x5b.ml40
  .boxy.iso
    %h3 ISO
    %small
    %ul.tools
      %li
        %a.bto{:href => '#'} Upload
        %a.bto{:href => '#'} Delete
  .boxy
    %h3 Cover Art
    %ul.tabs
      %li
        %a{:href => '#tab1'} Disc Cover
      %li
        %a{:href => '#tab2'} Sleeve
    #basic-modal.tab_cantainer
      #tab1.tab_content
        .template
          - if @product.cover_art.exists?
            %a{:href => "#"}
              %div{:style => 'width: 160px; height: 160px; overflow: hidden; margin: 10px auto;'}
                %img#cover{:src => '/images/template_disc_cover.png', :style => 'position: absolute; z-index: 1;'}/
                %img{:src => "#{@product.cover_art.url(:cropped_medium)}?#{Time.now.to_i}"}
                = f.hidden_field :cover_art_crop_x, :id => 'disc-cover-crop-x'
                = f.hidden_field :cover_art_crop_y, :id => 'disc-cover-crop-y'
                = f.hidden_field :cover_art_crop_w, :id => 'disc-cover-crop-w'
                = f.hidden_field :cover_art_crop_h, :id => 'disc-cover-crop-h'
            %ul.tools
              %li
                %a.bto.disc-cover{:href => publish_publisher_product_modal_path(current_publisher, @product, :disc_cover)} Edit
              %li
                %a.bto.del.label{:href => "#"} Delete
          - else
            = f.file_field :cover_art
      #tab2.tab_content
        .template
          - if @product.cover_art.exists?
            %a{:href => "#"}
              %div{:style => 'width: 250px; height: 170px; overflow: hidden; margin: 10px auto;'}
                %img{:src => '/images/template_dvd.png', :style => 'position: absolute; z-index: 1;' }/
                %img{:src => "#{@product.cd_sleeve_art.url(:cropped_medium)}?#{Time.now.to_i}"}
                = f.hidden_field :cd_sleeve_art_crop_x, :id => 'sleeve-crop-x'
                = f.hidden_field :cd_sleeve_art_crop_y, :id => 'sleeve-crop-y'
                = f.hidden_field :cd_sleeve_art_crop_w, :id => 'sleeve-crop-w'
                = f.hidden_field :cd_sleeve_art_crop_h, :id => 'sleeve-crop-h'
            %ul.tools
              %li
                %a.bto.sleeve{:href => publish_publisher_product_modal_path(current_publisher, @product, :sleeve)} Edit
              %li
                %a.bto{:href => "#"} Delete
          - else
            = f.file_field :cd_sleeve_art



  .boxy
    %h3 Specials
    %ul
      %li Disable product


%p.btso.b1
  %button{:type => 'submit'} Save
  %span
    or
    - if @product.id
      = link_to 'Cancel', publish_publisher_product_path(current_publisher, @product)
    - else
      = link_to 'Cancel', publish_publisher_products_path(current_publisher)

