.group
  = f.error_messages

:javascript
  $(function() {
    $("#product_media_type_id").change(function() {
      $("#genres_select").load("/publish/genres?media_type_id="+$(this).val());
      return false;
    });
  });

%label{:for => 'media'}
  %span Media type:
  = f.collection_select :media_type_id, MediaType.all, :id, :name

%label{:for => 'title'}
  %span Title:
  = f.text_field :title, :class => 'text_field'

%label{:for => 'genre_id'}
  %span Genre:
  #genres_select
    = f.collection_select :genre_id, @genres, :id, :title

%label.lb{:for => 'performers'}
  %span Actors/Musicians
  = f.text_area :performers, :cols => 81, :rows => 9

%label.lb{:for => 'description'}
  %span Description
  = f.text_area :description, :cols => 81, :rows => 9

%label{:for => 'keyword_list'}
  %span Keywords
  = f.text_field :keyword_list, :size => 48
  %span.descr Separate keywords with commas

%label{:for => 'price'}
  %span Price
  = f.text_field :price, :size => 6

%label{:for => 'running_time'}
  %span Running time:
  = f.text_field :running_time, :size => 6

%label{:for => 'cover_art'}
  %span Cover Art
  - if @product.cover_art.exists?
    %p= image_tag(@product.cover_art.url(:medium))
  = f.file_field :cover_art, :class => 'text_field'
  %span.descr (Only JPEG or PNG images)

%p.bto
  %button.bts{:type => 'submit'} Save
  or
  =link_to 'Cancel', publish_publisher_product_path(current_publisher, @product)

