%tr{:class => cycle("odd", "even")}
  %td
    - if product.image.exists?(:thumb)
      = image_tag(product.image.url(:thumb))
    - else
      = product.id
  %td= link_to product.title, publish_publisher_product_path(current_publisher,product)
  %td= product.media_type.name
  %td= product.genre.title
  %td.last
    %ul.tools
      %li
        = link_to "Edit", edit_publish_publisher_product_path(current_publisher,product), :class => 'edit'
      %li
        = link_to "Delete", publish_publisher_product_path(current_publisher,product), :class => 'delete', :method => :delete, :confirm => "Are you sure?"

