%tr{:class => cycle("odd", "even")}
  %td
    = image_tag(product.image_thumb)
  %td= link_to product.title, publish_publisher_product_path(current_publisher,product)
  %td= product.media_type.name
  %td= product.genre.title
  %td= product.available_for_retail_listing? ? "Yes" : "No"
  %td.last
    %ul.tools
      %li
        = link_to "Edit", edit_publish_publisher_product_path(current_publisher,product), :class => 'edit'
      %li
        = link_to "Delete", publish_publisher_product_path(current_publisher,product), :class => 'delete', :method => :delete, :confirm => "Are you sure?"

