- content_for :main_navigation do
  %li= link_to 'Dashboard', publisher_root_path
  %li= link_to 'Catalogs', publish_publisher_catalogs_path(current_publisher)
  %li.active= link_to 'Products', publish_publisher_products_path(current_publisher)
  %li= link_to 'Sales', publish_publisher_sales_path(current_publisher)
  %li= link_to 'Payments', publish_publisher_publisher_payments_path(current_publisher)

.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "All", publish_publisher_products_path(current_publisher)
      %li= link_to "New", new_publish_publisher_product_path(current_publisher)
      %li.active= link_to "Edit", edit_publish_publisher_product_path(current_publisher,@product)
  .content
    %h2.title Edit Product
    .inner
      - form_for @product, :url => publish_publisher_product_path(current_publisher,@product), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render(:partial => 'publish/shared/sidebar')

