- content_for :primary_nav do
  =render :partial => 'publish/shared/navbar'


#content.wide
  %h1= "Send emails about #{@product.title}"
  
  - form_tag do
    %label{:for => 'email'}
      %span Email addresses:
      = text_field_tag :email, params[:email], :size => 50
      %span.descr (enter many email addresses separated by spaces)
    %p
      %span= "At no point will #{SITE} store or send any unsolicited emails to any addresses you provide above!"
    
    .box.sp
      %h2 Email preview
      
      %p
        %b From:
        %span= @product.publisher.full_name
        %br
        %b Subject:
        %span= "Invitation to see my new product #{@product.title}"
      
      %p
        - product_link = link_to @product.title, "#{retail_catalog_product_path(@product.catalogs.first, @product)}"
        = "#{@product.publisher.full_name} has recently published a new product on #{link_to SITE, URL} entitled #{product_link}"
        %br
        = "and thought you might be interested in seeing it."
        %br
        %br
        = "Click the link below to review #{product_link} now!"
        %br
        - if @product.catalogs.first.private
          %br
          = "This catalog is private, so you will need to enter the password '#{@product.catalogs.first.password}' to access it."
        %br
        %br
        = "#{@product.publisher.full_name}"
    
    %p.btso
      %button.b1{:type => 'submit'} Send Email

