- content_for :primary_nav do
  %ul.primary-nav
    %li= link_to 'Dashboard', publisher_root_path
    %li= link_to 'Catalogs', publish_publisher_catalogs_path(current_publisher)
    %li
      = link_to 'Products', publish_publisher_products_path(current_publisher), :class => 'current'
      %ul.secondary-nav
        %li= link_to "<strong>All</strong> products", publish_publisher_products_path(current_publisher), :class => 'current'
        %li= link_to "<strong>New</strong> product", new_publish_publisher_product_path(current_publisher)
    %li= link_to 'Sales', publish_publisher_sales_path(current_publisher)
    %li= link_to 'Payments', publish_publisher_publisher_payments_path(current_publisher)

%h1
  All your uploaded Products
  - unless @catalog.blank?
    for #{@catalog.title}

%table.t1
  %tbody
    %tr
      %th.first #
      %th Title
      %th Media
      %th Genre
      %th.last &nbsp;
    = render :partial => @products

- content_for :sidebar, render(:partial => 'publish/shared/sidebar')

