%tr{:class => cycle("odd", "even")}
  %td
    = wholesaler_invoice.id
  %td= wholesaler_invoice.created_at
  %td= number_to_currency(wholesaler_invoice.total)
  %td= number_to_currency(wholesaler_invoice.owed)
  %td.last
    = link_to "Show", wholesale_wholesaler_wholesaler_invoice_path(current_wholesaler,wholesaler_invoice)

