- content_for :main_navigation do
  %li.active= link_to 'Catalogs', retail_catalogs_path
  %li= link_to 'Publishers', retail_publishers_path

.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "Home", retail_catalogs_path
      %li= link_to @catalog.title, retail_catalog_path
      %li.active= link_to "Show", retail_catalog_product_path(@catalog,@product)
  .content
    %h2.title= "#{@product.title} by #{@product.publisher.artist_name}"
    .inner
      - if @product.cover.exists?(:medium)
        %p= image_tag(@product.cover.url(:medium))
        %p= link_to 'Full size Cover art', @product.cover.url, :target => :blank
      %p
        %b Genre:
        = @product.genre.title
      %p
        %b Studio:
        = @product.studio
      - unless @product.performers.blank?
        %p
          %b #{@product.dvd? ? 'Actors' : 'Musicians' }:
        %p
          = @product.performers
      %p
        %b Description:
        = @product.description
      - unless @product.keywords.blank?
        %p
          %b Keywords:
          = @product.keyword_list
      %p
        %b Price:
        = number_to_currency(@product.price)
      - unless @product.running_time.blank?
        %p
          %b Running Time:
          = @product.running_time
      %p
        %b Published by:
        = @product.publisher.full_name
      .wat-cf
    .inner
      .group.navform.wat-cf
        - unless customer_signed_in?
          #{link_to 'Login', new_customer_session_path} or #{link_to 'Sign Up', new_customer_registration_path} to purchase this Product
        - else
          - if cart_items_include?(@product.id)
            %p
              This product is already in your Cart.
              = link_to 'Update it.', retail_cart_path
          - else
            - form_tag retail_cart_add_path, :class => 'form' do
              = hidden_field_tag 'item[catalog_id]', @catalog.id
              = hidden_field_tag 'item[product_id]', @product.id
              = hidden_field_tag 'item[price]', @product.price
              %p
                = text_field_tag 'item[quantity]', '1', :class => 'cart_text_field_small'
                = select_tag 'item[packaging_option_id]', options_from_collection_for_select(PackagingOption.all, :id, :title), :class => 'cart_text_field_small'
                %button.button{:type => 'submit'}
                  = image_tag("web-app-theme/tick.png", :alt => "Add to cart")
                  Add to cart

- unless @product.publisher.bio.blank?
  - content_for :sidebar, render(:partial => 'retail/shared/about', :locals => {:publisher => @product.publisher})
- else
  - content_for :sidebar, render(:partial => 'retail/shared/sidebar')

