- content_for :primary_nav do
  =render :partial => 'retail/shared/navbar'


- content_for :splash do
  .splash
    .innersplash
      %h1 Looking for music and videos?
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sollicitudin odio venenatis libero placerat aliquet. Vestibulum augue mi, dapibus eu, auctor et, ultricies quis, nunc. Nunc aliquet neque at enim.
      %p.button
        %a{:href => "#"} View tour

#content
  .box
    %h2.hbar
      Featured Random Products
      %a.all{:href => ''} view all

    %ul#first-carousel.first-and-second-carousel.jcarousel-skin-tango
      - if @products
        - @products.each_with_index do |product, i|
          = render :partial => 'retail/shared/carousel_product', :locals => { :product => product, :index => i }

    %h2.hbar
      Featured Catalogs from Publishers
      %a.all{:href => ''} view all
    %ul#second-carousel.first-and-second-carousel.jcarousel-skin-tango
      - if @catalogs
        - @catalogs.each do |catalog|
          - product = catalog.products.last
          = render :partial => 'retail/shared/carousel_catalog', :locals => { :catalog => catalog, :product => product }

  .box.sp2
    %h2.hbar2 DVD: Genre list
    - (@genres_for_dvd.length / 7.0).ceil.times do |chunk|
      .col.x4
        %ul
          - 7.times do |index|
            - if @genres_for_dvd[chunk*7+index]
              %li= link_to @genres_for_dvd[chunk*7+index].title, retail_genre_path(@genres_for_dvd[chunk*7+index])
  .box.sp2
    %h2.hbar2 CD: Genre list
    - (@genres_for_cd.length / 7.0).ceil.times do |chunk|
      .col.x4
        %ul
          - 7.times do |index|
            - if @genres_for_cd[chunk*7+index]
              %li= link_to @genres_for_cd[chunk*7+index].title, retail_genre_path(@genres_for_cd[chunk*7+index])



- content_for :sidebar do
  .box.topdvd
    %h3.hbar Best selling
    - @best_selling.each_with_index do |product, index|
      .hmedia{:class => "n#{index + 1}"}
        %dl
          %dt Title
          %dd
            %h4.fn
              %a{:href => retail_catalog_product_path(product.catalogs.first, product)}= product.title

          %dt Tags:
          - product.keywords.take(3).each do |tag|
            %dd.tag
              %a{:href => '#', :rel => 'tag'}= tag.name

          %dt Publisher:
          %dd.contributor= product.publisher.full_name
