- content_for :primary_nav do
  =render :partial => 'admin/shared/navbar'

#content.wide
  %h1 All Orders Placed
  .box
    %table.t1
      %tr
        %th.first ID
        %th Date Placed
        %th Date Shipped
        %th Placed by
        %th Items ordered
        %th Total
        %th.last
      - @orders.each do |order|
        %tr{:class => cycle("odd", "even")}
          %td= order.id
          %td= order.created_at.to_date.to_s(:short)
          %td= order.date_shipped
          %td= order.customer.full_name
          %td= order.items_full_count
          %td= number_to_currency(order.total)
          %td
            = link_to "Show", admin_order_path(order)
  .box
    = will_paginate @orders
