- content_for :primary_nav do
  =render :partial => 'admin/shared/navbar'

#content
  %h1 All Orders Placed
  .box
    %table.table
      %tr
        %th.first ID
        %th Date Placed
        %th Date Shipped
        %th Placed by
        %th Items ordered
        %th.last &nbsp;
      - @orders.each do |order|
        %tr{:class => cycle("odd", "even")}
          %td= order.id
          %td= order.created_at.to_date.to_s(:short)
          %td= order.date_shipped
          %td= order.customer.full_name
          %td= order.items_full_count
          %td
            = link_to "Show", admin_order_path(order)

- content_for :sidebar, render(:partial => 'admin/shared/sidebar')

