- content_for :primary_nav do
  =render :partial => 'admin/shared/navbar'

#content
  %h1 Order ##{@order.id}
  .box
    %p
      %b Placed by:
      = @order.customer.full_name rescue ""
    %p
      %b Date Created:
      = @order.created_at

  .box.sp
    .col.x4
      %h3 Bill To:
      #{@order.customer.full_name}
      %br
      #{@order.billing_address1} #{@order.billing_address2}
      %br
      #{@order.billing_city}, #{@order.billing_state}
      #{@order.billing_zip_code}
      #{@order.billing_country}

    .col.x4
      %h3 Ship To:
      #{@order.customer.full_name}
      %br
      #{@order.shipping_address1} #{@order.shipping_address2}
      %br
      #{@order.shipping_city}, #{@order.shipping_state}
      #{@order.shipping_zip_code}
      #{@order.shipping_country}

    .col.x4
      %h3 Provided by:
      Post Production Solutions LLC
      %br
      3 Canale Drive, Suite 6
      %br
      Egg Harbor Township, NJ 08234
      %br
      (609) 840-8340 Phone
      %br
      (609) 677-4590 Fax
      %br


    %p
      %strong Paid by
      #{@order.card_type.capitalize} XXXXXXXXXXXX #{@order.partial_cc_number}

    %p
      %strong Order Number
      #{@order.id}

    - if @order.shipping_status
      %p
        %strong Order Status
        #{@order.shipping_status}

    - if @order.shipping_tracking_number
      %p
        %strong Tracking Number
        #{@order.shipping_tracking_number}

  .box
    %h3 Order Details
    %table
      %thead
        %tr
          %th.w40 Title
          %th Packaging
          %th.w15 Qty.
          %th Price
      %tfoot
        %th Total
        %th
        %th
        %th= number_to_currency(@order.total)
      %tbody
        - for item in @order.items
          %tr{:class => cycle("odd", "even")}
            %td= link_to item.product.title, retail_catalog_product_path(item.product.catalogs.first, item.product)
            %td= item.packaging_option.title
            %td= item.quantity
            %td= number_to_currency(item.price*item.quantity + item.packaging_option.price)
        %tr{:class => cycle("odd", "even")}
          %td
            Shipping Fees
          %td
          %td
          %td= number_to_currency @order.shipping_cost
        - @order.taxes.each do |name, value|
          %tr{:class => cycle("odd", "even")}
            %td= name
            %td
            %td
            %td= number_to_currency value

  %h1 FirstData transactions logging
  .box
    %table.table
      %tr
        %th.first
        %th Date
        %th Action
        %th Successful?
        %th Response
      - for transaction in @order.transactions
        %tr{:class => cycle("odd", "even")}
          %td
          %td{:valign => 'top'}= transaction.created_at
          %td{:valign => 'top'}= transaction.action
          %td{:valign => 'top'}= transaction.success ? 'Yes!' : 'No'
          %td
            %table
              %tr
                %td CSP:
                %td= transaction.params['csp']
              %tr
                %td Code:
                %td= transaction.params['code']
              %tr
                %td TDate:
                %td= transaction.params['tdate']
              %tr
                %td Time:
                %td= transaction.params['time']
              %tr
                %td OrderNum:
                %td= transaction.params['ordernum']
              %tr
                %td Approved:
                %td= transaction.params['approved']
              %tr
                %td Complete:
                %td= transaction.params['complete']
              %tr
                %td AVS:
                %td= transaction.params['avs']
              %tr
                %td Ref:
                %td= transaction.params['ref']
              %tr
                %td Score:
                %td= transaction.params['score']
              %tr
                %td Message:
                %td= transaction.params['message']
              %tr
                %td AuthResponse:
                %td= transaction.params['authresponse']
              %tr
                %td Error:
                %td= transaction.params['error']

  %h1 Logs
  .box
    %table{:style => 'width: 100%'}
      %thead
        %tr
          %th.w25 Date
          %th.w10 Priority
          %th.w10 Source
          %th.w15 Status
          %th Description
      %tbody
        - for log in @order.logs
          %tr
            %td= log.created_at
            %td= log.priority
            %td= log.source
            %td= log.status
            %td= log.description

- content_for :sidebar, render(:partial => 'admin/shared/sidebar')

