- content_for :main_navigation do
  %li= link_to 'Administration', admin_root_path
  %li= link_to 'Genres', admin_genres_path
  %li.active= link_to 'Orders', admin_orders_path
  %li= link_to 'Publishers', admin_publishers_path
  %li= link_to 'Packaging', admin_packaging_options_path
  %li= link_to 'Shipping', admin_shipping_options_path
  %li= link_to 'Wholesale', admin_wholesale_prices_path

.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "All Orders", admin_orders_path
      %li.active= link_to "Show", admin_order_path(@order)
  .content
    %h2.title Order ##{@order.id}
    .inner
      %p
        %b Placed by:
        = @order.customer.full_name
      %p
        %b Date Created:
        = @order.created_at
      %p
        %b Product(s) requested:
      %table.table
        %tr
          %th.first
          %th Title
          %th Media
          %th Quantity
          %th Price
          %th.last
        - for item in @order.items
          %tr{:class => cycle("odd", "even")}
            %td
            %td
              %strong= item.product.title
              %br by #{link_to item.product.publisher.full_name, admin_publisher_path(item.product.publisher)} Publisher
              %br with
              %em= item.packaging_option.title
            %td= item.product.media_type.name
            %td= item.quantity
            %td
              = number_to_currency(item.product.price * item.quantity)
              %br
              = number_to_currency(item.packaging_option.price)
            %td
        %tr
          %th.first
          %th{:colspan => 2}
          %th Total
          %th= number_to_currency(@order.total)
          %th.last
      %p
        %b Billing Address:
        = @order.billing_address
      %p
        %b Shipping Address:
        = @order.shipping_address
      %p
        %b Shipping Option Selected:
        = @order.shipping_option.title_with_price

    %h2.title FirstData transactions logging
    .inner
      %table.table
        %tr
          %th.first
          %th Date
          %th Action
          %th Successful?
          %th Response
        - for transaction in @order.transactions
          %tr{:class => cycle("odd", "even")}
            %td
            %td{:valign => 'top'}= transaction.created_at
            %td{:valign => 'top'}= transaction.action
            %td{:valign => 'top'}= transaction.success ? 'Yes!' : 'No'
            %td
              %table
                %tr
                  %td CSP:
                  %td= transaction.params['csp']
                %tr
                  %td Code:
                  %td= transaction.params['code']
                %tr
                  %td TDate:
                  %td= transaction.params['tdate']
                %tr
                  %td Time:
                  %td= transaction.params['time']
                %tr
                  %td OrderNum:
                  %td= transaction.params['ordernum']
                %tr
                  %td Approved:
                  %td= transaction.params['approved']
                %tr
                  %td Complete:
                  %td= transaction.params['complete']
                %tr
                  %td AVS:
                  %td= transaction.params['avs']
                %tr
                  %td Ref:
                  %td= transaction.params['ref']
                %tr
                  %td Score:
                  %td= transaction.params['score']
                %tr
                  %td Message:
                  %td= transaction.params['message']
                %tr
                  %td AuthResponse:
                  %td= transaction.params['authresponse']
                %tr
                  %td Error:
                  %td= transaction.params['error']

- content_for :sidebar, render(:partial => 'admin/shared/sidebar')

