- content_for :main_navigation do
  %li= link_to 'Administration', admin_root_path
  %li= link_to 'Genres', admin_genres_path
  %li.active= link_to 'Orders', admin_orders_path
  %li= link_to 'Publishers', admin_publishers_path
  %li= link_to 'Wholesale', admin_wholesale_prices_path

.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "All Orders", admin_orders_path
      %li.active= link_to "Show", admin_order_path(@order)
  .content
    %h2.title Order ##{@order.id}
    .inner
      %p
        %b Placed by:
        = @order.customer.full_name
      %p
        %b Date Created:
        = @order.created_at
      %p
        %b Product(s) requested:
      %table.table
        %tr
          %th.first
          %th Title
          %th Media
          %th Quantity
          %th Price
          %th.last
        - for item in @order.order_items
          %tr{:class => cycle("odd", "even")}
            %td
            %td= item.product.title
            %td= item.product.media_type.name
            %td= item.quantity
            %td= number_to_currency(item.product.price)
            %td
        %tr
          %th.first
          %th{:colspan => 2}
          %th Total
          %th= number_to_currency(@order.total)
          %th.last
      %p
        %b Billing Address:
        = @order.billing_address
      %p
        %b Shipping Address:
        = @order.shipping_address

- content_for :sidebar, render(:partial => 'admin/shared/sidebar')

