- content_for :primary_nav do
  =render :partial => 'admin/shared/navbar'

#content
  .box
    %h1 Order ##{@order.id}
  .inner
    %p
      %b Placed by:
      = @order.customer.full_name
    %p
      %b Date Created:
      = @order.created_at
    %p
      %b Product(s) requested:
    %table.table
      %tr
        %th.first
        %th Title
        %th Media
        %th Quantity
        %th Price
        %th.last
      - for item in @order.items
        %tr{:class => cycle("odd", "even")}
          %td
          %td
            %strong= item.product.title
            %br by #{link_to item.product.publisher.full_name, admin_publisher_path(item.product.publisher)} Publisher
            %br with
            %em= item.packaging_option.title
          %td= item.product.media_type.name
          %td= item.quantity
          %td
            = number_to_currency(item.product.price * item.quantity)
            %br
            = number_to_currency(item.packaging_option.price)
          %td
      %tr
        %th.first
        %th{:colspan => 2}
        %th Total
        %th= number_to_currency(@order.total)
        %th.last
    %p
      %b Billing Address:
      = @order.billing_address
    %p
      %b Shipping Address:
      = @order.shipping_address

- content_for :sidebar, render(:partial => 'admin/shared/sidebar')

