= f.error_messages

%label{:for => "title"}
  %span Title:
  = f.text_field :title, :class => 'text_field', :size => 72
%label.lb{:for => "description"}
  %span Catalog description:
  = f.text_area :description, :rows => 5, :class => 'text_area', :cols => 80, :rows => 9
%label{:for => "private"}
  = f.check_box :private, :class => 'check_box'
  Private
%label{:for => "pass"}
  %span Password:
  = f.text_field :password, :class => 'text_field_small', :size => 48
  %span.descr Required if Private checked
%p.btso
  %button.b1{:type => 'submit'}
    Save
  %span
    or
    = link_to "Cancel", publish_publisher_catalogs_path(current_publisher)

