.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "&laquo; #{@publisher.first_name} #{@publisher.last_name}", publish_publisher_path(@publisher)
      %li.active= link_to "Catalogs", publish_publisher_catalogs_path(@publisher)
      %li= link_to "New", new_publish_publisher_catalog_path(@publisher)
  .content
    %h2.title All #{@publisher.first_name} #{@publisher.last_name}'s Catalogs
    .inner
      %table.table
        %tr
          %th.first ID
          %th Title
          %th Created at
          %th.last &nbsp;
        - @catalogs.each do |catalog|
          %tr{:class => cycle("odd", "even")}
            %td= catalog.id
            %td= link_to catalog.title, publish_publisher_catalog_path(@publisher,catalog)
            %td= catalog.created_at
            %td.last
              = link_to "Show", publish_publisher_catalog_path(@publisher,catalog)
              |
              = link_to "Edit", edit_publish_publisher_catalog_path(@publisher,catalog)
              |
              = link_to "Delete", publish_publisher_catalog_path(@publisher,catalog), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
              ||
              = link_to "Products (#{catalog.products.count})", publish_publisher_catalog_products_path(@publisher,catalog)
      .actions-bar.wat-cf
        .actions

- content_for :sidebar, render(:partial => 'publish/shared/sidebar')

