.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "&laquo; #{@publisher.first_name} #{@publisher.last_name}", publish_publisher_path(@publisher)
      %li= link_to "Catalogs", publish_publisher_catalogs_path(@publisher)
      %li.active= link_to "New", new_publish_publisher_catalog_path(@publisher)
  .content
    %h2.title New Catalog for #{@publisher.first_name} #{@publisher.last_name}
    .inner
      - form_for @catalog, :url => publish_publisher_catalogs_path(@publisher), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render(:partial => 'sidebar')
