.group
  = f.error_messages

%label
  %span
    Media Type
  = f.collection_select :media_type_id, MediaType.all, :id, :name

%label
  %span
    Title
  = f.text_field :title, :class => 'text_field'
  %span.descr (Required)

%p.btso
  %button.button{:type => 'submit'}
    = image_tag("web-app-theme/tick.png", :alt => "Save")
    = t("web-app-theme.save", :default => "Save")
  or
  = link_to "Cancel", admin_genres_path

