.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("web-app-theme.list", :default => "List"), publishers_path
      %li= link_to t("web-app-theme.new", :default => "New"), new_publisher_path
      %li.active= link_to t("web-app-theme.show", :default => "Show"), publisher_path
  .content
    .inner
      %p
        <b>#{ t("activerecord.attributes.publisher.first_name", :default => t("activerecord.labels.first_name", :default => "First name")) }:</b>
        = @publisher.first_name
      %p
        <b>#{ t("activerecord.attributes.publisher.last_name", :default => t("activerecord.labels.last_name", :default => "Last name")) }:</b>
        = @publisher.last_name
      %p
        <b>#{ t("activerecord.attributes.publisher.email", :default => t("activerecord.labels.email", :default => "Email")) }:</b>
        = @publisher.email
      %p
        <b>#{ t("activerecord.attributes.publisher.address", :default => t("activerecord.labels.address", :default => "Address")) }:</b>
        = @publisher.address
      %p
        <b>#{ t("activerecord.attributes.publisher.approved", :default => t("activerecord.labels.approved", :default => "Approved")) }:</b>
        = @publisher.approved
      .wat-cf
        #{ link_to "#{image_tag("web-app-theme/application_edit.png", :alt => t("web-app-theme.edit", :default=> "Edit"))} #{t("web-app-theme.edit", :default=> "Edit")}", edit_publisher_path(@publisher), :class => "button" } 
        #{ link_to "#{image_tag("web-app-theme/cross.png", :alt => t("web-app-theme.delete", :default=> "Delete"))} #{t("web-app-theme.delete", :default => "Delete")}", publisher_path(@publisher), :method => "delete", :class => "button", :confirm => t("web-app-theme.confirm", :default => "Are you sure?") }

- content_for :sidebar, render(:partial => 'sidebar')