.group
  = f.error_messages

.group
  = f.label :amount, "Amount", :class => :label
  = f.text_field :amount, :class => 'text_field_small'
  %span.description (Required)

.group.navform.wat-cf
  %button.button{:type => 'submit'}
    = image_tag("web-app-theme/tick.png", :alt => "Save")
    = t("web-app-theme.save", :default => "Save")
  = link_to "#{image_tag("web-app-theme/cross.png", :alt => "Cancel")} Cancel", admin_wholesaler_invoice_payments_path(@wholesaler, @invoice), :class => "button"

