- content_for :main_navigation do
  %li= link_to 'Administration', admin_root_path
  %li= link_to 'Fees', admin_fees_path
  %li= link_to 'Genres', admin_genres_path
  %li= link_to 'Orders', admin_orders_path
  %li= link_to 'Publishers', admin_publishers_path
  %li.active= link_to 'Wholesale Accounts', admin_wholesalers_path
  %li= link_to 'Packaging', admin_packaging_options_path
  %li= link_to 'Shipping', admin_shipping_options_path
  %li= link_to 'Wholesale', admin_wholesale_prices_path

.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "All Wholesale Accounts", admin_wholesalers_path
      %li= link_to "#{@wholesaler.name}", admin_wholesaler_path(@wholesaler)
      %li= link_to "Invoice #{@invoice.id}", admin_wholesaler_path(@wholesaler)
      %li= link_to "Payments", admin_wholesaler_invoice_payments_path(@wholesaler, @invoice)
      %li.active= link_to "Edit", edit_admin_wholesaler_invoice_payment_path(@wholesaler, @invoice, @payment)
  .content
    %h2.title Edit Payment
    .inner
      - form_for @payment, :url => admin_wholesaler_invoice_payment_path(@wholesaler, @invoice, @payment), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render(:partial => 'admin/shared/sidebar')

