%html
  %head
  %body
    %h1= "You have been invited to join #{SITE}"

    %p    
      = "#{@introduction.affiliate.name} has sent you an invitation to join #{SITE},"
      = "you can use this invitation on #{URL}/introduction/#{@introduction.signup_hash}"

    %p
      = "Thanks, #{SITE}"

