.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "&laquo; #{@publisher.first_name} #{@publisher.last_name}", publish_publisher_path(@publisher)
      %li= link_to "Products", publish_publisher_products_path(@publisher)
      %li= link_to "Wholesale Prices", publish_publisher_product_wholesale_prices_path(@publisher,@product)
      %li= link_to "New", new_publish_publisher_product_wholesale_price_path(@publisher,@product)
      %li.active= link_to "Edit", edit_publish_publisher_product_wholesale_price_path(@publisher,@product)
  .content
    %h2.title Edit Wholesale Price for #{@product.title}
    .inner
      - form_for @wholesale_price, :url => publish_publisher_product_wholesale_price_path(@publisher,@product,@wholesale_price), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render(:partial => 'sidebar')

