- content_for :main_navigation do
  %li= link_to 'Catalogs', retail_catalogs_path
  %li= link_to 'Publishers', retail_publishers_path

.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "Forgot your password?", new_publisher_password_path
  .content
    %h2.title Forgot your User password?
    .inner
      - form_for resource_name, resource, :url => password_path(resource_name), :html => { :class => :form } do |f|
        = f.error_messages

        .group
          %p= f.label :email, 'E-mail', :class => :label
          %p= f.text_field :email, :class => 'text_field'

        .group.navform.wat-cf
          %button.button{:type => 'submit'}
            = image_tag("web-app-theme/tick.png", :alt => "Sign up")
            Send me reset password instructions

- content_for :sidebar, render(:partial => "shared/devise_user_links")

