- content_for :primary_nav do
  = render :partial => 'admin/shared/navbar'

#content.wide
  %h1 Featured Products
  .box.sp
    .box
      %h3 Current Featured Products
      %p
        - if @products.length == 0
          No featured products
        - else
          - for product in @products
            %li
              = link_to(product.title, retail_catalog_product_path(product.catalogs.first, product))
    .box
      %h3 New Featured Products
      - form_tag admin_featured_products_path do
        - featured = ""
        - @products.each { |a| featured = "#{featured}#{a.id}"; featured = "#{featured} " if a != @products.last }
        %input{:type => 'text', :name => 'featured', :size => 60, :value => featured}
        %span.descr{:style => 'float: none;'} Enter product ids separeted by white spaces
        %p.btso
          %button.b1{:type => 'submit'}
            Save
          %span
            or
            = link_to "Cancel", admin_publishers_path

