%label
  %span
    First name
  = f.text_field :first_name

%label
  %span
    Last name
  = f.text_field :last_name

%label
  %span
    Email
  = f.text_field :email

%label.lb
  %span
    Address
  = f.text_area :address, :rows => 5
  %span.descr Ex: a simple text

%label
  %span
    Approved
  = f.check_box :approved
  Yes

%p.btso
  %button.b1{:type => 'submit'}
    Save
  %span
    or
    = link_to "Cancel", admin_publishers_path

