%label
  %span
    First name
  = f.text_field :first_name

%label
  %span
    Last name
  = f.text_field :last_name

%label
  %span
    Email
  = f.text_field :email

%label
  %span
    Address1
  = f.text_field :address1
  %span.descr Ex: a simple text

%label
  %span
    Address2
  = f.text_field :address2

%label
  %span
    City
  = f.text_field :city

%label
  %span
    State
  = f.text_field :state

%label
  %span
    Country
  = f.country_select :country, { "United States" => "US" }

%label
  %span
    Approved
  = f.check_box :approved
  Yes

%p.btso
  %button.b1{:type => 'submit'}
    Save
  %span
    or
    = link_to "Cancel", admin_publishers_path

