- content_for :primary_nav do
  =render :partial => 'admin/shared/navbar'

#content.wide
  %h1 All Publishers
  .box
    %table.t1
      %tr
        %th.first ID
        %th Name
        %th Created at
        %th.last &nbsp;
      - @publishers.each do |publisher|
        %tr{:class => cycle("odd", "even")}
          %td= publisher.id
          %td= link_to "#{publisher.first_name} #{publisher.last_name}", admin_publisher_path(publisher)
          %td= publisher.created_at
          %td.last
            = link_to "Show", admin_publisher_path(publisher)
            |
            = link_to "Edit", edit_admin_publisher_path(publisher)
            |
            = link_to "Delete", admin_publisher_path(publisher), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
    .actions-bar.wat-cf
      .actions

