- content_for :main_navigation do
  %li= link_to 'Administration', admin_root_path
  %li= link_to 'Genres', admin_genres_path
  %li.active= link_to 'Publishers', admin_publishers_path
  %li= link_to 'Packaging', admin_packaging_options_path
  %li= link_to 'Wholesale', admin_wholesale_prices_path

.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "All Publishers", admin_publishers_path
  .content
    %h2.title All Publishers
    .inner
      %table.table
        %tr
          %th.first ID
          %th Name
          %th Created at
          %th.last &nbsp;
        - @publishers.each do |publisher|
          %tr{:class => cycle("odd", "even")}
            %td= publisher.id
            %td= link_to "#{publisher.first_name} #{publisher.last_name}", admin_publisher_path(publisher)
            %td= publisher.created_at
            %td.last
              = link_to "Show", admin_publisher_path(publisher)
              |
              = link_to "Edit", edit_admin_publisher_path(publisher)
              |
              = link_to "Delete", admin_publisher_path(publisher), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
      .actions-bar.wat-cf
        .actions

- content_for :sidebar, render(:partial => 'admin/shared/sidebar')

