#receipt
  .box.sp
    .col.x4
      %h3 Bill To:
      #{@order.customer.full_name}
      %br
      #{@order.billing_address1} #{@order.billing_address2}
      %br
      #{@order.billing_city}, #{@order.billing_state}
      #{@order.billing_zip_code}
      #{@order.billing_country}

    .col.x4
      %h3 Ship To:
      #{@order.customer.full_name}
      %br
      #{@order.shipping_address1} #{@order.shipping_address2}
      %br
      #{@order.shipping_city}, #{@order.shipping_state}
      #{@order.shipping_zip_code}
      #{@order.shipping_country}
    
    .col.x4
      %h3 Provided by:
      Post Production Solutions LLC
      %br
      3 Canale Drive, Suite 6
      %br
      Egg Harbor Township, NJ 08234
      %br
      (609) 840-8340 Phone
      %br
      (609) 677-4590 Fax
      %br
      

    %p
      %strong Paid by
      #{@order.card_type.capitalize} XXXXXXXXXXXX #{@order.partial_cc_number}

    %p
      %strong Order Number
      #{@order.id}
    
    - if @order.shipping_status
      %p
        %strong Order Status
        #{@order.shipping_status}
    
    - if @order.shipping_tracking_number
      %p
        %strong Tracking Number
        #{@order.shipping_tracking_number}

  .box
    %h3 Order Details
    %table.t1
      %thead
        %tr
          %th.w40 Title
          %th Packaging
          %th.w15 Qty.
          %th Price
      %tfoot
        %th Total
        %th
        %th
        %th= number_to_currency(@order.total)
      %tbody
        - for item in @order.items
          %tr{:class => cycle("odd", "even")}
            %td= link_to item.product.title, retail_catalog_product_path(item.product.catalogs.first, item.product)
            %td= item.packaging_option.title
            %td= item.quantity
            %td= number_to_currency(item.price*item.quantity + item.packaging_option.price)
        %tr{:class => cycle("odd", "even")}
          %td
            Shipping Fees
          %td
          %td
          %td= number_to_currency @order.shipping_cost
