- render :partial => 'retail/catalogs/main_navigation'

.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "Place New Order"
  .content
    %h2.title Place New Purchase Order
    .inner
      %p Please confirm the the following products to place your new purchase order.
      - form_for @order, :url => retail_customer_orders_path(current_customer), :html => { :class => :form } do |f|
        .group
          = f.error_messages
          - f.fields_for :items, @order.items do |order_item|
            = order_item.hidden_field :packaging_option_id
            = order_item.hidden_field :product_id
            = order_item.hidden_field :quantity
            = order_item.hidden_field :price
        %table.table
          %tr
            %th.first
            %th Title
            %th Packaging
            %th Qty.
            %th{:align => 'right'} Price
            %th.last
          - for item in current_customer.cart.items
            %tr{:class => cycle("odd", "even")}
              %td
              %td= link_to item.product.title, retail_catalog_product_path(item.catalog,item.product)
              %td= item.packaging_option.title
              %td= item.quantity
              %td= number_to_currency(item.price * item.quantity + item.packaging_option.price)
              %td
          %tr
            %td{:colspan => '3'}
            %td TOTAL
            %td
              %b= number_to_currency(current_customer.cart.items_total_price)
            %td
        .group
          = f.label :billing_address, "Billing Address", :class => :label
          = f.text_area :billing_address, :rows => 5, :class => 'text_area'
        .group
          = f.label :shipping_address, "Shipping Address", :class => :label
          = f.text_area :shipping_address, :rows => 5, :class => 'text_area'
          %p
            = check_box_tag :same_as, :value => '1'
            Same as Billing Address
        .group
          %h3 Shipping Options available
          = f.select :shipping_option_id, options_from_collection_for_select(ShippingOption.all, :id, :title)
        .group.navform.wat-cf
          %button.button{:type => 'submit'}
            = image_tag("web-app-theme/tick.png", :alt => "Place Order")
            Place Order
          = link_to "#{image_tag("web-app-theme/cross.png", :alt => "Cancel")} Cancel", retail_customer_cart_path(current_customer), :class => "button"

- content_for :sidebar, render(:partial => 'retail/shared/sidebar')

