.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "&laquo; #{@publisher.first_name} #{@publisher.last_name}", publisher_path(@publisher)
      %li.active= link_to "Products", products_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_publisher_product_path(@publisher)
  .content
    %h2.title All #{@publisher.first_name} #{@publisher.last_name}'s Products
    .inner
      %table.table
        %tr
          %th.first ID
          %th Title
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @products.each do |product|
          %tr{:class => cycle("odd", "even")}
            %td= product.id
            %td= link_to product.title, publisher_product_path(@publisher,product)
            %td= product.created_at
            %td.last
              = link_to t("web-app-theme.show", :default => "Show"), publisher_product_path(@publisher,product)
              |
              = link_to t("web-app-theme.edit", :default => "Edit"), edit_publisher_product_path(@publisher,product)
              |
              = link_to t("web-app-theme.delete", :default => "Delete"), publisher_product_path(@publisher,product), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
      .actions-bar.wat-cf
        .actions

- content_for :sidebar, render(:partial => 'sidebar')
