.group
  = f.error_messages

%label
  %span
    Title
  = f.text_field :title
  %span.descr (Required)

%label
  %span
    Price
  = f.text_field :price
  %span.descr (Required)

%label
  %span
    Weight
  = f.text_field :weight, :size => '6'

%label.lb
  %span
    Description
  = f.text_area :description, :rows => 5
  %span.descr Ex: a simple text

%p.btso
  %button.button{:type => 'submit'}
    = image_tag("web-app-theme/tick.png", :alt => "Save")
    = t("web-app-theme.save", :default => "Save")
  or
  = link_to "Cancel", admin_packaging_options_path

