!!! Strict
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title DVDonDemand
    = stylesheet_link_tag 'web_app_theme', 'web_app_theme_override', "themes/drastic-dark/style", :cache => true
  %body
    #container
      #header
        %h1= link_to 'OnDemand WebStore', '#'
        #user-navigation
          %ul.wat-cf
            %li= link_to 'Profile', '#'
            %li= link_to 'Logout', '#'
        #main-navigation
          %ul.wat-cf
            %li.active= link_to 'Publishers', '#'
            %li= link_to 'Sales', '#'
            %li= link_to 'Reports', '#'
      #wrapper.wat-cf
        #main
          = yield
          #footer
            .block
              %p Copyright &copy;2010 DVDonDemand
        #sidebar
          = yield :sidebar

