!!! Strict
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title DVDonDemand
    = stylesheet_link_tag 'web_app_theme', "themes/drastic-dark/style", :cache => true
  %body
    #container
      #header
        %h1= link_to 'Publisher WebStore', root_path
        #user-navigation
          %ul.wat-cf
            %li= link_to 'Profile', root_path
            %li= link_to 'Logout', root_path
        #main-navigation
          %ul.wat-cf
            %li.active= link_to 'Publishers', publishers_path
            %li= link_to 'Catalogs', catalogs_path
            %li= link_to 'Products', products_path
            %li= link_to 'Items', items_path
            %li= link_to 'Sales', root_path
            %li= link_to 'Reports', root_path
      #wrapper.wat-cf
        #main
          = yield
          #footer
            .block
              %p Copyright &copy;2010 DVDonDemand
        #sidebar
          = yield :sidebar
