%ul.primary-nav
  - if publisher_signed_in? 
    %li
      - if controller.controller_name == 'publishers' or controller.controller_name == 'home' or controller.controller_name == 'registrations' or controller.controller_name == 'financial_informations'
        =link_to 'Dashboard', publisher_root_path, :class => 'current'
        %ul.secondary-nav
          %li= link_to "<strong>Publisher</strong> home", publisher_root_path, :class => (controller.controller_name != 'financial_informations' and controller.action_name == 'index'?'current':'')
          %li= link_to "<strong>Edit</strong> account", edit_publisher_registration_path, :class => (controller.action_name == 'edit'?'current':'')
          %li= link_to "<strong>Financial</strong> information", publish_publisher_financial_informations_path(current_publisher), :class => (controller.controller_name == 'financial_informations' and controller.action_name == 'index'?'current':'')
          - if controller.controller_name == 'financial_informations'
            %li= link_to "<strong>Add</strong> bank information", new_publish_publisher_financial_information_path(current_publisher, :type => :bank), :class => ((controller.action_name == 'new' or controller.action_name == 'create')?'current':'')
            %li= link_to "<strong>Add</strong> paypal information", new_publish_publisher_financial_information_path(current_publisher, :type => :paypal), :class => ((controller.action_name == 'new' or controller.action_name == 'create')?'current':'')
      - else
        =link_to 'Dashboard', publisher_root_path

    %li
      - if controller.controller_name == 'catalogs'
        =link_to 'Catalogs', publish_publisher_catalogs_path(current_publisher), :class => 'current'
        %ul.secondary-nav
          %li= link_to "<strong>All</strong> catalogs", publish_publisher_catalogs_path(current_publisher), :class => (controller.action_name == 'index'?'current':'')
          %li= link_to "<strong>New</strong> catalog", new_publish_publisher_catalog_path(current_publisher), :class => ((controller.action_name == 'new' or controller.action_name == 'create')?'current':'')

      - else
        =link_to 'Catalogs', publish_publisher_catalogs_path(current_publisher)

    %li
      - if controller.controller_name == 'products'
        = link_to 'Products', publish_publisher_products_path(current_publisher), :class => 'current'
        %ul.secondary-nav
          %li= link_to '<strong>All</strong> products', publish_publisher_products_path(current_publisher), :class => (controller.action_name == 'index'?'current':'')
          %li= link_to '<strong>Upload</strong> content', new_publish_publisher_product_path(current_publisher), :class => ((controller.action_name == 'new' or controller.action_name == 'create')?'current':'')
      - else
        = link_to 'Products', publish_publisher_products_path(current_publisher)

    %li
      - if controller.controller_name == 'sales'
        =link_to 'Sales', overview_publish_publisher_sales_path(current_publisher), :class => 'current'
        %ul.secondary-nav
          %li= link_to '<strong>All</strong> sales report', publish_publisher_sales_path(current_publisher), :class => (controller.action_name == 'index'?'current':'')
      - else
        =link_to 'Sales', publish_publisher_sales_path(current_publisher)

    %li
      - if controller.controller_name == 'publisher_payments'
        =link_to 'Payments', publish_publisher_publisher_payments_path(current_publisher), :class => 'current'
        %ul.secondary-nav
          %li= link_to "<strong>All</strong> payments", publish_publisher_publisher_payments_path(current_publisher), :class => (controller.action_name == 'index'?'current':'')
          %li= link_to "<strong>Financial</strong> information", publish_publisher_financial_informations_path(current_publisher)
      - else
        =link_to 'Payments', publish_publisher_publisher_payments_path(current_publisher)

  - else
    %li
      =link_to 'Dashboard', publisher_root_path, :class => 'current'
      %ul.secondary-nav
